
body {
	overflow-y: scroll;
}

.list {
    width: 100%;
}

.list a,a:active {
    color: #2d2d2d;
    text-decoration: none;
    font-weight: normal;
}

.list a:hover {
    text-decoration: underline;
}

.highlighted {
    background-color: #f2f2f2;
}

.fileicon {
    padding-right: 5px;
}

.filename {
    width: 84%;
}

.filesize {
    text-align: right;
    width: 10%;
}

.fileselected {
    text-align: center;
    width: 6%;
}

.fileselected input {
    width: 100%;
}

.lastrow {
    text-align: right;
}

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}

.foldericon {
    width: 10px;
}
