#categories a,a:hover,a:active {
    text-decoration: none;
    color: #2d2d2d;
    font-size: 12pt;
    font-weight: bold;
}

#categories>li {
    list-style-type: none;
    width: 100%;
    padding: 5px;
    background-color: #f2f2f2;
}

.associated_groups {
    background-color:#f2f2f2;
}

.associated_groups li {
    list-style-type: disc; 
    padding: 3px;
    margin-left: 10px;
    background-color: transparent;
}

