{% extends "base.html" %}
{% load url from future %}

{% block title %} Login {% endblock title %}

{% block content %}
<div class="row">
  <div class="span12">

    <div class="hero-unit">
      <h1>Willkommen</h1>
      <p></p>
      <p>auf <a href="#">ebooks.i77i.de</a>, der Ebook-Management Platform
      für den belesenen Studenten.</p>
    </div>

  </div>
</div>

<div class="row">
  <div class="span5">

    <div class="page-header">
      <h1>Login</h1>
    </div>

    {% if form.errors %}
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      Nutzername oder Passwort sind nicht korrekt!
    </div>
    {% endif %}

    <form class="well" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}

    <fieldset>
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.password.label_tag }}
      {{ form.password }}
    </fieldset>

    <input type="submit" class="btn btn-primary" value="Einloggen" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

  </div>
  <div class="span7"></div>
</div>

{% endblock %}
