{% extends "base.html" %}

{% block title %} Übersicht {% endblock title %}

{% block meta %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/overview.css" />
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
{% endblock meta %}



{% block content %}
    <div id="overview">
        <h3>Kategorien</h3>
        <ul id="categories">
            {% for cat in categories %}
            <li>
                <a class="category" href="#">{{cat.category.name}}</a>
                <div class="associated_groups">
                    <ul>
                        {% for group in cat.groups %}
                        <li><a href="/show/group/{{group.id}}">{{group.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <script>
    $('.category').click(function() {
      $(this).parent('li').children('div').toggle('fast', function() {
      });
    });
    </script>
    
{% endblock %}
